---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">About Me</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<p>
				Hello! I'm Yixiang, a passionate writer and technology enthusiast who loves sharing knowledge and experiences through this blog. 
			</p>
			<p>
				Through this platform, I aim to share insights about technology, personal experiences, and thoughts on various topics 
				that interest me. Whether you're here to learn something new or just to explore different perspectives, I hope you find 
				value in the content I share.
			</p>
		</div>
	</section>
</BaseLayout>
