---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive =
	href === pathname ||
	href === pathname.replace(/\/$/, '') ||
	(pathname.startsWith('/blog') && href === '/blog')
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	@reference "../styles/global.css";

	a {
		@apply text-foreground dark:text-foreground-dark hover:opacity-70 transition-opacity duration-200;
	}
	a.active {
		@apply opacity-100 font-medium underline underline-offset-5;
	}
</style>
